<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main class="mt-3">
        <div class="jumbotron bg-light">
            <div class="text-center">
                <img th:src="${order.productImageUrl}" width="200" height="200" alt="Product">
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-5">
                    <h1 th:text="'Name: ' + ${order.productName}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-3">
                    <h4 th:text="'Desciption: ' + ${order.productDescription}"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-3">
                    <h4 th:text="'Customer: ' + ${order.customerName}"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4 th:text="'Quantity: ' + ${order.quantity}"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4 th:text="'Price: ' + ${order.totalPrice}"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4 th:text="'Date: ' + ${order.orderDate}"></h4>
                </div>
            </div>
        </div>
    </main>
    <footer class="mt-3">
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>